* {
  -webkit-user-select: none;
  user-select: none; }

input,
textarea {
  -webkit-user-select: text;
  user-select: text; }

html {
  height: 100%;
  width: 100%; }

body {
  margin: 0px;
  width: 100%;
  height: 100%;
  font-size: 0.9rem;
  font-weight: 800;
  overflow: hidden;
  color: #46537f;
  background-image: url("images/istock.jpg");
  background-size: cover; }

.header {
  text-align: start;
  font-size: 1.5rem;
  text-color: #46537f;
  font-weight: 700;
  padding: 10px 0px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }

.body {
  font-size: 0.9rem;
  text-color: #46537f;
  font-weight: 700;
  padding: 10px 0px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }

.footer {
  padding: 10px 0px;
  text-align: end; }

.background-test {
  background-color: #46537f;
  color: #fff;
  padding: 20px 20px; }
